.table tbody td,
.table thead th {
    vertical-align: inherit;
}

.alert,
.alert-text {
    margin-top: -67px;
}

table.fixed-tail th:first-child,
table.fixed-tail td:first-child {
    position: sticky;
    right: initial;
    left: 0;
    width: 30px;
    background-color: #fff;
}

/* begin table fixed  */

table.fixed-tail th:last-child,
table.fixed-tail td:last-child {
    position: sticky;
    left: initial;
    right: 0;
    width: 131px;
    background-color: #fff;
}

table.table-striped.fixed-tail th:nth-last-child(2),
table.table-striped.fixed-tail td:nth-last-child(2) {
    padding-right: 80px;
}

table.table-striped.fixed-tail th:last-child,
table.table-striped.fixed-tail tr:nth-of-type(odd) td:first-child,
table.table-striped.fixed-tail tr:nth-of-type(odd) td:last-child {
    background-color: #ebedf3;
}

table.table-striped.fixed-tail th:last-child,
table.table-striped.fixed-tail tr:nth-of-type(even) td:first-child,
table.table-striped.fixed-tail tr:nth-of-type(even) td:last-child {
    background-color: #fff;
}

table.fixed-tail tr:nth-of-type(odd):hover td:first-child,
table.fixed-tail tr:nth-of-type(odd):hover td:last-child,
table.fixed-tail tr:nth-of-type(even):hover td:first-child,
table.fixed-tail tr:nth-of-type(even):hover td:last-child {
    background-color: #e4e6ef;
}

/* end table fixed  */

.modal-body {
    padding: 0;
}
.modal-body .kt-portlet {
    margin-bottom: 0;
}

.modal-body .kt-portlet .kt-portlet__body,
.modal-body .kt-portlet .kt-portlet__foot {
    padding: 1.25rem;
}

/* begin component thumbnail and file upload  */
thumbnail .thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

thumbnail .thumbnail>img {
    max-height: 100%;
}

fileupload .input-group-addon.btn {
    background-color: #eee!important;
    padding: 6px 12px!important;
    border-bottom: 0px!important;
    cursor: pointer!important;
}

fileupload .input-upload-addon.btn {
    display: table-cell;
}

thumbnail.filethumbnail-new .filethumbnail-exists,
fileupload.fileupload-new .fileupload-exists {
    display: none;
}

thumbnail.filethumbnail-exists .filethumbnail-new,
fileupload.fileupload-exists .fileupload-new {
    display: none;
}

fileupload {
    white-space: nowrap;
}

.fileupload-filename {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.form-control .fileupload-filename {
    vertical-align: bottom;
    position: absolute;
}


/* end component file upload  */

.select2-selection {
    min-height: calc(1.5em + 1.3rem + 2px);
}

.datepicker {
    z-index: 99!important
}

img.swal2-image {
    height: 200px !important;
    width:  200px !important;
    border-radius: 50% !important;
}